<h1>কস়্মিক ইলেকট্রনিক্স এন্ড মটরস </h1>
<address>
    সাব রেজিষ্ট্রি অফিস মসজিদের পূর্ব পার্শ্বে, <br />
    মেইন রোড, রায়পুর, লক্ষ্মীপুর।<br />
    <abbr title="Phone">
        সাহেদ আহমেদ
        প্রোপ্রাইটর
    </abbr>
    মোবাঃ 01714-407431, 01930-010034<br />
</address>
<hr />
<p>Business Hour: <b>9AM - 10PM (Everyday),&nbsp;&nbsp;&nbsp;</b> </p>
<br />
<div id="map" style="width:100%;height:500px"></div>
<script>

    function initMap() {
        var myLatLng = { lat: 23.038187, lng: 90.766793 }; 

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'কস়্মিক ইলেকট্রনিক্স এন্ড মটরস'
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp72xd9Yu5HTPH2AvnDSbB31zvAiqR8jM&callback=initMap">
</script>
