@using System.Data
@{
    string strQuery = @"Exec [dbo].[SP_CategoryWiseDue];";
    DataOperation _dataOperation = new DataOperation();
    DataTable dt = _dataOperation.GetDataTable(strQuery);
    Html.SetActiveMenuItemSystemName("CategoryDue");
}

<!DOCTYPE html>

<html>
<head>
    <title>Today Cash by Order</title>
</head>
<body>
    <div>
        <br />
       <h4>Category wise Total Due</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Total Due</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < dt.Rows.Count; i++)
                {
                    <tr>
                        <td>@dt.Rows[i][0]</td>
                        <td>@dt.Rows[i][1]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>